<ion-list>

  <ion-item-group *ngFor="let group of getArtists()">
    <ion-item-divider *ngIf="isDivider" (click)="more()">
      {{group.letter}}
      <ion-icon *ngIf="isDivTitle" item-end name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <ion-grid>

      <ion-row justify-content-start *ngFor="let artistGroup of group.list">
        <ion-col col-4 *ngFor="let artist of artistGroup">

          <artist-list-item
            [artist]="artist"
          ></artist-list-item>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-item-group>

</ion-list>
