<ion-list>

  <ion-item-group>
    <ion-item-divider *ngIf="!isDivTitle" color="light">A</ion-item-divider>
    <ion-item-divider ion-item *ngIf="isDivTitle" color="light" (click)="onClick($event)">
      Artistes
      <ion-icon item-end name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <ion-grid>

      <ion-row justify-content-start *ngFor="let artistGroup of getArtists()">
        <ion-col col-4 *ngFor="let artist of artistGroup">

          <artist-list-item
            [artist]="artist"
          ></artist-list-item>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-item-group>

</ion-list>
