<ion-list>

  <ion-item-group>
    <ion-item-divider *ngIf="!isDivTitle && isDivider" color="light">P</ion-item-divider>
    <ion-item-divider ion-item *ngIf="isDivTitle && isDivider" color="light">
      Playlist
      <ion-icon item-end name="arrow-dropright" (click)="more()"></ion-icon>
    </ion-item-divider>
    <ion-item *ngFor="let playlist of getPlaylists()" no-padding>
      <playlist-list-item [playlist]="playlist"></playlist-list-item>
    </ion-item>
  </ion-item-group>

</ion-list>
