<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <music-list-component *ngIf="!!musics"
                        [musics]="musics"
                        [isDivTitle]="false"
  ></music-list-component>

  <album-list-component *ngIf="!!albums"
                        [albums]="albums"
                        [isDivTitle]="false"
  ></album-list-component>

  <artist-list-component *ngIf="!!artists"
                        [artists]="artists"
                        [isDivTitle]="false"
  ></artist-list-component>

  <playlist-list-component *ngIf="!!playlists"
                        [playlists]="playlists"
                        [isDivTitle]="false"
  ></playlist-list-component>

</ion-content>
