<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <tracks-list-component *ngIf="!!tracks"
                         [tracks]="tracks"
                         [isDivTitle]="false"
  ></tracks-list-component>

  <album-list-component *ngIf="!!albums"
                        [albums]="albums"
                        [isDivTitle]="false"
  ></album-list-component>

  <artist-list-component *ngIf="!!artists"
                        [artists]="artists"
                        [isDivTitle]="false"
  ></artist-list-component>

  <playlist-list-component *ngIf="!!playlists"
                        [playlists]="playlists"
                        [isDivTitle]="false"
  ></playlist-list-component>

</ion-content>
