<ion-list>

  <ion-item-group *ngFor="let group of getAlbums()">
    <ion-item-divider *ngIf="isDivider" (click)="more()">
      {{group.letter}}
      <ion-icon *ngIf="isDivTitle" item-end name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <ion-grid>

      <ion-row justify-content-start *ngFor="let albumsGroup of group.list">
        <ion-col col-4 *ngFor="let album of albumsGroup">

          <album-list-item
            [album]="album"
          ></album-list-item>

        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-item-group>

</ion-list>
