<ion-toolbar no-padding class="playbar"
             *ngIf="music!= undefined && music.album!=undefined && music.album.artist!=undefined">
  <ion-item no-lines color="light" (click)="onClick()">
    <img *ngIf="isCover"
         item-start [src]="music.album.cover" width="48">
    <img *ngIf="!isCover" item-start src="assets/imgs/logo.png" width="48">
    <h2>{{music.title}}</h2>
    <p>{{music.album.artist.name}}</p>

    <playbar-buttons-component item-end></playbar-buttons-component>
  </ion-item>

  <playbar-slider></playbar-slider>

</ion-toolbar>
