.player {
  ion-item {
    background-color: transparent !important;
    border: none !important;
  }

  ion-row {
    margin-right: 56px;
  }
  img {
    align-self: center;
  }

  .back-button {
    top: -69px;
  }
}

